# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
.venv/
env/

# Models & large data
models/
data/
*.h5
*.ckpt
*.pkl

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
